<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <script src="C:\Users\Marios Kantharidis\.nuget\packages\bootstrap\4.3.1\content\Scripts\bootstrap.js"></script>
    <script src="C:\Users\Marios Kantharidis\.nuget\packages\jquery\3.0.0\Content\Scripts\jquery-3.0.0.js"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="container body-content">
        @RenderBody()
        <hr/>
        <footer>
            <p>2019 - Marios Kantharidis</p>
        </footer>
    </div>
</body>
</html>
